Arquivos Prof's/atoi.asm
Arquivos Prof's/cletra.asm
Arquivos Prof's/contador.asm
Arquivos Prof's/ex1.asm
Arquivos Prof's/ex2.asm
Arquivos Prof's/fatorial.asm
Arquivos Prof's/fibonacci.asm
Arquivos Prof's/ftype.asm
Arquivos Prof's/primos.asm
Arquivos Prof's/printf_s.asm
Arquivos Prof's/ReadString.asm
Arquivos Prof's/sprintf_w.asm
Arquivos Prof's/upper.asm
